*.suo
Bonsai.VideoAnnotations/.vs
Bonsai.VideoAnnotations/packages
Bonsai.VideoAnnotations/Bonsai.VideoAnnotations/bin
Bonsai.VideoAnnotations/Bonsai.VideoAnnotations/obj
*.ipynb_checkpoints*
Workflows/plots

